@import "variable";

/*Barra de navegacion*/
.navbar {
  padding: 2rem;
  background-color: $primary;

  @include media-up(md) {
    display: none;
  }
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/*Adaptable (responsivo) scss*/

$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 1024px,
);

@mixin media-up($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

/*Adaptable (responsivo)*/
/*
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
*/

@media screen and (min-width: 700px) {
  .hero-imagen-desarrollador {
    max-width: 400px;
  }
}
/*Estilos generales*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: "Climate Crisis", cursive;
}
.seccion-oscura {
  color: $primary;
  background-color: $secundary;
}
.seccion-clara {
  color: $secundary;
  background-color: $primary;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Lucida Sans", cursive;
}
.seccion-texto {
  font-size: 1.2rem;
}
.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}
.texto-negro {
  color: black;
}

/*seccion hero*/
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}
.hero-principal {
  padding: 3rem;
}
.hero-imagen-desarrollador {
  width: 1px;
  height: 1px;
  margin: 2px;
}

/*seccion sobre nosotros*/
.sobre-mi {
  height: 500px;
  padding: 10px;
}
.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}
/*Experiencia*/
.experiencia {
  padding: 40px 40px 60px 40px;
}
.experiencia .row div {
  height: 250px;
  background-color: white;
  border: 3px solid black;
}
.experiencia .columna {
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}
.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}
.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 15px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

